<div class="container">
  <section class="lessons">
    <ul class="nav nav-pills nav-left justify-content-between" id="pills-tab" role="tablist">
      <div class="breadcrumb">
        <li class="nav-item" role="presentation">
          <button class="btn btn-default btn-sm" (click)="gobacktolessons()">
            <svg
              width="6"
              height="8"
              viewBox="0 0 6 8"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2.31629 3.99993L5.20379 6.88743L4.37896 7.71226L0.666626 3.99993L4.37896 0.287598L5.20379 1.11243L2.31629 3.99993Z"
                fill="#32324D"
              />
            </svg>
            {{'topic.lessons' | translate}}
          </button>
        </li>
        <li>
          <h3 class="mx-3">{{ lesson_by_id?.subject }}</h3>
        </li>
      </div>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="pills-topics"
        role="tabpanel"
        aria-labelledby="pills-topics-tab"
      >
        <li class="list-group-item community-feedback">
          <div class="item-header d-flex justify-content-between">
            <button class="btn btn-default" (click)="goPrev()" *ngIf="index_lesson > 0">
              <i class="ri-arrow-left-line"></i>
              {{ 'direction.previous' | translate }}
            </button>
            <h2>{{'topic.lesson' | translate}}  {{ index_lesson + 1 }} {{'topic.of' | translate}} {{ listLessons?.length }}</h2>

            <button
              class="btn btn-default"
              (click)="goNext()"
              *ngIf="listLessons && index_lesson < listLessons.length - 1"
            >
              {{ 'direction.next' | translate }}
              <i class="ri-arrow-right-line"></i>
            </button>
          </div>

          <div class="item-content">
            <h2 class="mt-4 mb-4">{{ lesson_by_id?.description }}</h2>
            <div class="instruction d-flex" id="alphabet1">
              <div>
                <div
                  class="d-flex mb-4"
                  style="align-items: baseline"
                  *ngFor="let prompt of prompts"
                >
                <div class="card text-center no-margin">
                  <span *ngIf="prompt.flashcard_text" class="card-header"><h3 class="no-margin">{{ prompt.flashcard_text }}</h3></span>

                    <div class="card-title" *ngFor="let task of prompt.tasks">
                    <div class="card-body">

                    <div class="letter mb-2" #targetElement><h4>{{ task.task_text }}</h4></div>
                    <div class="mb-3">
                      <button mat-button class="btn btn-listen me-2" (click)="play_audio(task.audio_url)">
                        <i class="ri-voiceprint-fill"></i>
                        {{ 'audio.listen' | translate}}
                      </button>
                      <button mat-button class="btn btn-listen me-2" (click)="recording ? stopRecording() : initiateRecording(task.id)">
                        <i [ngClass]="recording ? 'ri-mic-off-line' : 'ri-mic-line'"></i>
                        {{ recording ? ('audio.stop' | translate) : ('audio.record' | translate)}}
                      </button>
                      <audio
                      class="btn btn-audio"
                      controls

                      *ngIf="url && task.id == id_current_task"
                      >
                        <source [src]="sanitize()" />
                        {{ task.id }}
                        <i class="ri-play-fill"></i>
                      </audio>
                      <button class="btn btn-listen" >
                        <i class="ri-share-fill" (click)="sendTask()"></i>
                        {{ 'audio.share'|translate }}
                      </button>
                    </div>
                    <div
                    *ngIf="answered || url && task.id == id_current_task">
                      <button class="btn btn-evaluate me-2" (click)="getScore();showPhones()">
                        <i class="ri-check-double-fill"></i>
                        {{ 'audio.check' | translate}}
                      </button>
                      <span>{{'topic.score' | translate}}: {{score}}</span>
                    </div>
                  </div>
                </div>
                </div>

                <!-- <table>
                  <th>
                  <b> {{ prompt.flashcard_text }}</b>
                </th>
                <tr>
                  <div class="ms-3" *ngFor="let task of prompt.tasks">
                    <button class="btn btn-default" (click)="play_audio(task.audio_url)">
                      <i class="ri-volume-up-line"></i>
                    </button>
                    <span class="letter">{{ task.task_text }}</span>
                    <div>
                      <button class="btn btn-default" (click)="initiateRecording(task.id)">
                        <i class="ri-mic-line"></i>
                      </button>
                      <button class="btn btn-default" (click)="stopRecording()">
                        <i class="ri-play-fill"></i>
                      </button>
                      <audio
                        class="btn btn-default"
                        controls

                        *ngIf="url && task.id == id_current_task"
                      >
                        <source [src]="sanitize()" />
                        {{ task.id }}
                        <i class="ri-play-fill"></i>
                      </audio>
                      <span>
                        <button class="btn btn-default" >
                          <i class="ri-check-double-fill" (click)="getScore()"></i>
                        </button>
                        <span>{{'topic.score' | translate}}: {{score}}</span>
                      </span>
                      <button class="btn btn-default" >
                        <i class="ri-share-fill" (click)="sendTask()"></i>
                      </button>
                    </div>
                  </div>
                  <hr />
                  <hr />
                </tr>
                </table> -->
                </div>
              </div>
            </div>
          </div>
          <div class="item-header d-flex justify-content-between">
            <button class="btn btn-default" (click)="goPrev()" *ngIf="index_lesson > 0">
              <i class="ri-arrow-left-line"></i>
              {{ 'direction.previous' | translate }}
            </button>
            <button
              class="btn btn-default"
              (click)="goNext()"
              *ngIf="listLessons && index_lesson < listLessons.length - 1"
            >
              {{ 'direction.next' | translate }}
              <i class="ri-arrow-right-line"></i>
            </button>
          </div>

        </li>
      </div>
    </div>
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Title goes here</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Lörem ipsum lyjän decis. Stupstockspolitik. Norsk karaoke säss, även om vinas av bissade
            egoktig. Grexit niment teng. Din kvasil nejävis och pär även om tåra. Ojärade
            expresskidnappning med makrode, horat sonas. Bokashi kahälig oktig, sant teraliga. Du
            kan vara drabbad. Iktig gigasahäning. Pror tävla ut. Juv vätt dilig mikropäns heterons.
            Mibel vall, tresm. Gåbel bebesk och paktig, till multin san. Pneumatologi filovalens
            tesk. Savis robotdräkt dofynde när timent. Antropokemi för, i ultrass för att ip-tv det
            ångerrösta. Groma krobelt megapod. Dibynde besk migoren. Zoombombning virat av ett.
            Viagra stereodiktisk nabus doska i häs. Nessade parasiv föbur trade. Laning godebel
            huruvida paben spening eftersom dogen. Sånar. Tigåde jäbel vire. Komfiering previck.
            Devinat sären att suprare, giganisa. Sera ed. Teledes tehäk så hiren. Hypoliga saskapet,
            myvobelt, om hyponde för donde. Klimatdiktatur egon tispeligt teception fylad.
            Tilakuling täk mikror. Kros visa för att förväntningssamhälle kagyskapet går. Oplar
            måheten. Poras hibel. Krorat. Dopp bement, terasun. Krorade pressade kutelingar. Lasse
            Berghagen-vin iskap utan pres. Sis pov osam mikronar dosåreligt. Nyst ponat om bera.
            Reates pibunde abeligt. Didise ovävis. Busa filotris.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

