.recording i {
  color: var(--bs-success-600);
}

.recording i:hover {
  color: var(--bs-success-600);
}

.lessons .instruction .btn-default.recording {
  background-color: var(--bs-success-200);
}



.lessons .instruction .btn-default.playing {
  background-color: var(--bs-danger-200);
}

.modal-dialog {
  position: fixed;
  top: auto;
  right: 200px;
  left: auto;
  bottom: 20px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.no-margin{
  margin: 0 !important;
}

.btn-listen {
  background-color: #fff;
  border: 1px solid var(--bs-primary-600);
  padding: 7px 16px;
  color: var(--bs-primary-600);
}

.btn-listen:hover {
  background-color: var(--bs-primary-600);
  padding: 7px 16px !important;
  color: #fff;
}

.btn-listen:focus {
  background-color: var(--bs-primary-700);
  padding: 7px 16px !important;
  color: var(--bs-primary-100);
}

.btn-audio:hover {
  padding: 7px 16px !important;
  border: 0;
}

.btn-evaluate {
  background-color: #fff;
  border: 1px solid var(--green);
  padding: 7px 16px !important;
  color: var(--green);
}

.btn-evaluate:hover {
  background-color: var(--green);
  border: 1px solid var(--green);
  padding: 7px 16px;
  color: var(--bs-white);
}

.btn-evaluate:focus {
  background-color: var(--bs-success-600);
  border: 1px solid var(--bs-success-600);
  padding: 7px 16px;
  color: var(--bs-white);
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

button.mat-button .i,
.mat-button .i,
.mat-raised-button .i,
.mat-flat-button .i,
.mat-stroked-button .i {
  vertical-align: center;
  font-size: 1.25em;
}

.card-container {
  margin-bottom: 20px; /* Adjust the margin value to your preference */
}

.card-header {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  background-color: var(--bs-gray-100);
}

.card-separator {
  margin: 20px 0; /* Adjust the margin value to your preference */
}

.card {
  height: max-content;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

h2,h1,h3,h4 {text-align: center;}

h4 {
  margin: 2rem;
}

.instruction {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
