.recording i {
  color: var(--bs-success-600);
}

.recording i:hover {
  color: var(--bs-success-600);
}

.lessons .instruction .btn-default.recording {
  background-color: var(--bs-success-200);
}



.lessons .instruction .btn-default.playing {
  background-color: var(--bs-danger-200);
}

.modal-dialog {
  position: fixed;
  top: auto;
  right: 200px;
  left: auto;
  bottom: 20px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.no-margin{
  margin: 0 !important;
}

.btn-listen {
  background-color: #fff;
  border: 1px solid var(--bs-primary-600);
  padding: 7px 16px;
  color: var(--bs-primary-600);
}

.btn-listen:hover {
  background-color: var(--bs-primary-200);
  padding: 7px 16px !important;
  color: var(--bs-primary-600);
}

.btn-listen:focus {
  background-color: var(--bs-primary-600);
  padding: 7px 16px !important;
  color: #fff;
}

.btn-audio:hover {
  padding: 7px 16px !important;
  border: 0;
}

.btn-evaluate {
  background-color: #fff;
  border: 1px solid var(--bs-success);
  padding: 7px 16px !important;
  color: var(--bs-success);
}

.btn-evaluate:hover {
  background-color: var(--bs-success-200);
  border: 1px solid var(--bs-success);
  padding: 7px 16px;
  color: var(--bs-success-600);
}

.btn-evaluate:focus {
  background-color: var(--bs-success-600);
  border: 1px solid var(--bs-success-600);
  padding: 7px 16px;
  color: var(--bs-white);
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

button.mat-button .i,
.mat-button .i,
.mat-raised-button .i,
.mat-flat-button .i,
.mat-stroked-button .i {
  vertical-align: center;
  font-size: 1.25em;
}

.card-container {
  margin-bottom: 20px; /* Adjust the margin value to your preference */
}

.card-header {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  background-color: var(--bs-gray-100);
}

.card-separator {
  margin: 20px 0; /* Adjust the margin value to your preference */
}

.card {
  height: max-content;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.emphasis {
  text-decoration: underline dotted red;
}

.lessons {
  width: fit-content;
}

h2,h1,h3,h4 {text-align: center;}

.instruction {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.score {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--bs-success-300);
}
/* Text colors */
.red-text {
  color: red;
}

.green-text {
  color: green;
}

/* Progress bar container styles */
.progress-bar {
  background-color: #ccc;
  height: 20px;
  width: 100%;
  border-radius: 5px;
}

/* Progress bar fill styles */
.progress-bar > div {
  height: 100%;
  transition: width 0.3s;
  background-color: #4CAF50;
  border-radius: 5px;
}

/* Custom modal dialog styles */
.custom-modal-dialog {
  max-width: 75%;
  width: 50%;
  height: auto;
  margin: auto;
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Feedback table styles */
.feedback-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.feedback-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.feedback-table th, .feedback-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

/* Aligned container styles */
.aligned-container {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}

/* Word feedback styles */
.word-feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

/* Word container styles */
.word-container {
  display: flex;
  align-items: center;
}




