<section class="d-flex bg-gray w-696 section">
    <div class="profile-nav">
        <ul>
            <li><a>{{'title.profile' | translate}}</a></li>
            <li><a>{{'title.interfaceNotif' | translate}}</a></li>
            <li><a>{{'title.privacyData' | translate}}</a></li>
            <li><a>{{'title.account' | translate}}</a></li>
        </ul>
    </div>
    <div class="profile-content">
        <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                    aria-selected="true">{{'title.profile' | translate}}
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-password-tab" data-bs-toggle="pill" data-bs-target="#pills-password"
                    type="button" role="tab" aria-controls="pills-password"
                    aria-selected="false">{{'title.change-password' | translate}}
                </button>
            </li>
        </ul>
        <hr>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
                aria-labelledby="pills-profile-tab">
                <form autocomplete="off" [formGroup]="profilForm" enctype="multipart/form-data">
                    <input type="text" class="form-control" formControlName="id" hidden>
                    <div>
                        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="showMsg" data-bs-dismiss="alert">
                            {{'alert.updateProfileMsg' | translate}}
                            <button type="button" class="btn close" data-bs-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div *ngIf="errorMessage" class="alert alert-warning">
                            <strong>Warning!</strong> {{errorMessage | json}}
                        </div>
                        <div class="profile" id="profile">
                            <div class="profile-img">
                                <div class="profile-preview" style="cursor: pointer;">
                                    <div class="dropdown ">
                                        <a class="dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <img src="{{ profilePicture}}">
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start"
                                            aria-labelledby="dropdownMenu2">
                                            <li><a class="dropdown-item" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#ImgModal">{{"image.change"|translate}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="ImgModal" tabindex="-1" aria-labelledby="ImgModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ImgModalLabel">{{"image.upload"|translate}}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>

                                        </div>
                                        <div class="modal-body">
                                            <div class="profile-edit">
                                                <input type="file" id="imageUpload" accept=".jpg, .jpeg, .png"
                                                    (change)="onImageUpload($event)">
                                                <label for="imageUpload">
                                                    <span>{{"image.select"|translate}}</span></label>
                                            </div>
                                            <span>{{"image.warning"|translate}}</span>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal"(click)="cancel()">{{"image.cancel"|translate}}</button>
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                                (click)="saveProfilePicture()">{{"image.save"|translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="username">{{'user.username' | translate}}</label>
                                <input type="text" class="form-control" id="username" aria-describedby="usernamehelp"
                                    formControlName="username" readonly>
                                <small id="usernamehelp" class="form-text text-muted">{{'alert.signInMsg' |
                                    translate}}</small>
                            </div>
                            <div class="form-group">
                                <label for="first_name">{{'user.firstName' | translate}}</label>
                                <input type="text" class="form-control" id="first_name" formControlName="first_name">
                            </div>
                            <div class="form-group">
                                <label for="last_name">{{'user.lastName' | translate}}</label>
                                <input type="text" class="form-control" id="last_name" formControlName="last_name">
                            </div>
                            <div class="form-group">
                                <label for="fullname">{{'user.email' | translate}}</label>
                                <input type="text" class="form-control" id="fullname" formControlName="email" readonly>
                            </div>
                            <div class="form-group">
                                <label for="native_language">{{'user.nativeLanguage'|translate}}</label>
                                <select id="native_language" class="form-control form-select select2 "
                                    formControlName="native_language" appAllLanguages>
                                    <option value="" disabled selected hidden>{{ 'user.choose-first-language'| translate }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="gender">{{'user.gender'|translate}}</label>
                                <select id="gender" class="form-control form-select select2" formControlName="gender">
                                    <option disabled selected hidden>{{'form.choose'|translate}}</option>
                                    <option>{{'user.male'|translate}}</option>
                                    <option>{{'user.female'|translate}}</option>
                                    <option>{{'user.other'|translate}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="birthyear">{{ 'user.year' | translate }}</label>
                                <select class="form-control" id="birthyear" formControlName="birthyear" appBirthYears>
                                  <option value="" disabled selected hidden>{{ 'user.choose-year'| translate }}</option>
                                </select>
                              </div>
                            <div class="form-group">
                                <label for="nationality">{{'user.nationality' | translate}}</label>

                                  <ng-container *ngIf="is_icelandic; else englishNationalities">
                                    <select
                                      id="nationality"
                                      class="form-control form-select select2"
                                      formControlName="nationality"
                                      appAllNationalitiesIS
                                    >
                                    <option value="" disabled selected hidden>{{ 'user.choose-nationality'| translate }}</option>
                                    </select>
                                  </ng-container>

                                  <ng-template #englishNationalities>
                                    <select
                                      id="nationality"
                                      class="form-control form-select select2"
                                      formControlName="nationality"
                                      appAllNationalitiesEN
                                    >
                                    <option value="" disabled selected hidden>{{ 'user.choose-nationality'| translate }}</option>
                                    </select>
                                  </ng-template>
                              </div>
                            <div class="form-group">
                                <div>
                                    <label>{{'user.langLevel'|translate}}</label>
                                </div>
                                <div class="d-inline-flex">
                                    <div class="form-check me-2">
                                        <input mdbCheckbox class="form-check-input" type="radio" id="gridbeginner"
                                            formControlName="language_level"
                                            [checked]="profilForm.value.language_level == 'L'"
                                            (change)="updateLanguageLevel('L')">
                                        <label class="form-check-label" for="gridbeginner">
                                            {{'user.beginner'|translate}}
                                        </label>
                                    </div>
                                    <div class="form-check me-2">
                                        <input mdbCheckbox class="form-check-input" type="radio" id="gridInterm"
                                            formControlName="language_level"
                                            [checked]="profilForm.value.language_level== 'M'"
                                            (change)="updateLanguageLevel('M')">
                                        <label class="form-check-label" for="gridInterm">
                                            {{'user.intermediate'|translate}}
                                        </label>
                                    </div>
                                    <div class="form-check me-2">
                                        <input mdbCheckbox class="form-check-input" type="radio" id="gridAdvanced"
                                            formControlName="language_level"
                                            [checked]="profilForm.value.language_level == 'H'"
                                            (change)="updateLanguageLevel('H')">
                                        <label class="form-check-label" for="gridAdvanced">
                                            {{'user.advanced'|translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="interface" id="interface">
                            <div class="title">
                                <h5>{{'title.interfaceNotif'|translate}}</h5>
                                <hr>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label>{{'user.displayLang'|translate}}</label>
                                </div>
                                <div class="d-inline-flex">
                                  <div class="form-check ps-0">
                                    <label class="form-check-label">{{'language.en'|translate}} <img src="../../assets/image/flag/en.png"></label>
                                  </div>
                                  <div class="form-switch ps-5">
                                    <input mdbCheckbox class="form-check-input" type="radio" role="switch" [checked]="is_icelandic" (click)="switchLang()">
                                  </div>
                                  <div class="form-check ps-0">
                                    <label class="form-check-label">{{'language.icl'|translate}} <img
                                      src="../../assets/image/flag/icl.png"></label>
                                  </div>
                                </div>
                                <div>
                                    <label>{{'user.notif'|translate}}</label>
                                </div>
                                <div class="form-check form-switch d-flex justify-content-between ps-0">
                                    <div class="">
                                        <label class="form-check-label"
                                            for="flexSwitchCheckChecked">{{'user.appNotif'|translate}}</label>
                                    </div>
                                    <div>
                                        <input mdbCheckbox class="form-check-input" type="radio" role="switch"
                                            id="flexSwitchCheckChecked" [checked]="notification_setting_in_app"
                                            (click)="toggleAppNotification()">
                                    </div>
                                </div>
                                <div class="form-check form-switch d-flex justify-content-between ps-0">
                                    <div class="">
                                        <label class="form-check-label"
                                            for="flexSwitchCheckChecked">{{'user.emailNotif'|translate}}</label>
                                    </div>
                                    <div>
                                        <input idmdbCheckbox class="form-check-input" type="radio" role="switch"
                                            id="notification_setting_email" [checked]="notification_setting_email"
                                            (click)="toggleEmailNotification()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="privacy" id="privacy">
                            <div class="title">
                                <h5>{{'title.privacyData'|translate}}</h5>
                                <hr>
                            </div>
                            <p>{{'title.LessonsData'|translate}}</p>
                            <p>{{'user.Read'|translate}}
                              <a href="#">{{'register.terms'|translate}}</a>
                                {{'register.and'|translate}}
                                <a href="#"  data-bs-toggle="modal"
                                data-bs-target="#PrivacyModal">{{'register.privacy' |translate}}</a>
                            </p>
                            <a href="#">{{'user.help'|translate}}</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="PrivacyModal" tabindex="-1" aria-labelledby="PrivacyModalLabel"
                        aria-hidden="true">
                          <privacypolicy></privacypolicy>
                        </div>
                        <div class="account" id="account">
                            <div class="title">
                                <h5>{{'title.account'|translate}}</h5>
                                <hr>
                            </div>
                            <div>
                                <div class="float-start">
                                    <p>{{'title.accountActions'|translate}}</p>
                                </div>
                                <div class="float-end">
                                    <button type="button" class="btn btn-default me-2"
                                        (click)="logOUt()">{{'buttons.logOut' | translate}}</button>
                                    <button type="submit" class="btn btn-secondary-success btn-sm"
                                        (click)="updateProfil()">{{'buttons.update' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="loading">Loading...</div>
                </form>
            </div>
            <div class="tab-pane fade" id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab">
              <div [ngClass]="alertClass + ' alert alert-dismissible fade show'" role="alert" *ngIf="changePasswordRequested">
                {{ msgContent | translate }}
                <button type="button" class="btn close" data-dismiss="alert" aria-label="Close" (click)="changePasswordRequested = false">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <form [formGroup]="passwordForm">
                  <div class="mb-3">
                    <label for="fullname" class="form-label">{{'user.old-password' | translate}}</label>
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="*****" id="_oldPass" formControlName="_oldPass" aria-describedby="basic-addon1" style="border-right: none;" appShowPassword>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="fullname" class="form-label">{{'user.new-password' | translate}}</label>
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="*****" id="_newPass" formControlName="_newPass" aria-describedby="basic-addon1" style="border-right: none;" appShowPassword>
                    </div>
                    <div *ngIf="Rf['_newPass'] && Rf['_newPass'].invalid && Rf['_newPass'].touched">
                      <span *ngIf="Rf['_newPass'] && Rf['_newPass'].errors?.['required']" class="text-danger ">{{'validation.required'|translate}}</span>
                      <span class="text-danger" *ngIf="Rf['_newPass'] && Rf['_newPass'].errors?.['pattern']">
                        {{'validation.patternPasword'|translate}}
                      </span>
                    </div>
                  </div>
                    <div class="float-end">
                        <button type="submit" class="btn btn-secondary-success btn-sm" [disabled]="passwordForm.invalid"
                            (click)="changePassword()">{{'buttons.update' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</section>
