<div class="d-flex sign-in-body">
    <div class="form-signin">
        <div class="mb-3 text-center">
            <img src="../../../assets/image/logo.svg" style="width: 250px;">
        </div>
        <div class="pb-3">
            <label>{{'user.hello' | translate }}</label>
            <p>{{'user.welcome' | translate }}</p>
        </div>
        <div *ngIf="message" class="alert text-danger">
            <strong>{{'alert.loginErrorMsg' | translate }}</strong> 
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <div>
                <label class="form-label">{{'user.username' | translate }}</label>
                <input type="text" class="form-control" placeholder="{{'user.username' | translate}}" formControlName="username">
                <div *ngIf="username && username.invalid && username.touched">
                    <span class="text-danger" *ngIf="username && username.errors?.['required']">{{'validation.required'|translate}}</span>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">{{ 'user.password' | translate }}</label>
                <div class="input-group">
                    <input type="password" class="form-control" placeholder="*****" formControlName="password" aria-describedby="basic-addon1" style="border-right: none;" appShowPassword>
                </div>
                <span *ngIf="password && password.invalid && password.touched" class="text-danger">{{'validation.required'|translate}}</span>
            </div>
            <div class="text-center">
                <span>{{'login.notAccount' | translate }} <a routerLink="/register" >{{ 'login.create' | translate }}</a></span>
            </div>
            <div class="mb-3 text-center">
                <span><a routerLink="/reset">{{ 'login.forgot' | translate }}</a></span>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="loginForm.invalid">{{ 'buttons.sign-in' | translate }}</button>
        </form>
        <div class="text-center">
            <div>
                <a [routerLink]="" (click)="switchLang( 'en')"><img src="../../../assets/image/flag/en.png" alt="England" class="pe-2"></a>
                <a [routerLink]="" (click)="switchLang( 'icl')"><img src="../../../assets/image/flag/icl.png" alt="Iceland"></a>
            </div>
            <hr>
            <p class="text-muted text-center">CAPTinI &copy; 2022</p>
        </div>
    </div>
</div>