<!-- Features section-->
<div class="container ">
    <section class="leader-dash boxed">
        <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-leaderBoard-tab" data-bs-toggle="pill" data-bs-target="#pills-leaderBoard" type="button" role="tab" aria-controls="pills-leaderBoard" aria-selected="true">{{'header.leaderBoard' | translate}}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-statics-tab" data-bs-toggle="pill" data-bs-target="#pills-statics" type="button" role="tab" aria-controls="pills-statics" aria-selected="false">{{'header.statics' | translate}}</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-leaderBoard" role="tabpanel" aria-labelledby="pills-leaderBoard-tab">
                <div class="honorary-podium d-flex justify-content-center">
                    <div class="card silver mt-auto me-3">
                        <div class="crown-silver">
                            <img src="{{users[1].profile_photo}}" class="card-img-top silver-border" alt="...">
                        </div>
                        <div class="card-body d-flex">
                            <div class="rank">2</div>
                            <div class="text-end float-end  mt-auto ms-auto" *ngIf="!loading && users.length > 1">
                                <h3 class="mb-2">{{users[1].username}}</h3>
                                <span class="d-none d-sm-block">{{users[1].score}} points</span>
                            </div>
                        </div>
                    </div>
                    <div class="card gold mt-auto me-3">
                        <div class="crown-gold">
                            <img src="{{users[0].profile_photo}}" class="card-img-top gold-border" alt="...">
                        </div>
                        <div class="card-body d-flex">
                            <div class="rank">1</div>
                            <div class="text-end float-end mt-auto ms-auto" *ngIf="!loading && users.length > 0">
                                <h3 class="mb-2">{{users[0].username}}</h3>
                                <span class="d-none d-sm-block">{{users[0].score}} points</span>
                            </div>
                        </div>
                    </div>
                    <div class="card bronze mt-auto">
                        <div class="crown-bronze">
                            <img src="{{users[2].profile_photo}}" class="card-img-top bronze-border" alt="...">
                        </div>
                        <div class="card-body d-flex">
                            <div class="rank">3</div>
                            <div class="text-end float-end  mt-auto ms-auto" *ngIf="!loading && users.length > 2">
                                <h3 class="mb-2">{{users[2].username}}</h3>
                                <span class="d-none d-sm-block">{{users[2].score}} points</span>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group" *ngIf="!loading">

                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of users.slice(3)" [class.list-group-item-glow]="item.showGlow">
                        <div class="item-content">
                            <img src="{{item.profile_photo}}" alt="">
                            <span class="ps-2">{{item.username}} ({{item.score}})</span>
                        </div>
                        <span>{{item.global_rank}}</span>
                    </li>


                </ul>
                <div *ngIf="loading">Loading...</div>
            </div>
            <div class="tab-pane fade" id="pills-statics" role="tabpanel" aria-labelledby="pills-statics-tab">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card h96 active">
                            <div class="card-body">
                                <h5 class="card-title">Community Points</h5>
                                <p class="card-text text-end text-lg">97</p>
                            </div>
                        </div>
                        <div class="card h266">
                            <div class="card-body" style=" height: 299px;">
                                <h5 class="card-title">Fluency</h5>
                                <img src="../../assets/image/bkg/pie.png" style="width: 250px; margin-top: 20²px;">
                            </div>
                        </div>
                        <div class="card h96 active" *ngIf="!loading && user">
                            <div class="card-body">
                                <h5 class="card-title">Total score</h5>
                                <p class="card-text text-end text-lg">{{user?.score}}</p>
                            </div>
                        </div>
                        <div class="card h96 active" *ngIf="!loading && user">
                            <div class="card-body">
                                <h5 class="card-title">Your achievements (total tries)</h5>
                                <p class="card-text text-end text-lg">{{user?.total_tries}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card h96">
                            <div class="card-body">
                                <h5 class="card-title">Time spent learning</h5>
                                <p class="card-text text-end text-lg">3 days 02:36</p>
                            </div>
                        </div>
                        <div class="card h78" *ngIf="!loading && user">
                            <div class="card-body">
                                <h5 class="card-title">Lessons completed</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="progress">
                                        <div class="progress-bar" 
                                             role="progressbar" 
                                             [attr.aria-valuenow]="user?.completed_lessons" 
                                             aria-valuemin="0" 
                                             [attr.aria-valuemax]="user?.total_lessons" 
                                             [style.width.%]="(user?.completed_lessons / user?.total_lessons) * 100"></div>
                                    </div>
                                    <p class="card-text txt-md">{{user?.completed_lessons}}/{{user?.total_lessons}}</p>
                                </div>
                            </div>                            
                        </div>
                        <div class="card h78" *ngIf="!loading && user">
                            <div class="card-body">
                                <h5 class="card-title">Tasks completed</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="progress">
                                        <div class="progress-bar" 
                                             role="progressbar" 
                                             [attr.aria-valuenow]="user?.completed_tasks" 
                                             aria-valuemin="0" 
                                             [attr.aria-valuemax]="user?.total_tasks" 
                                             [style.width.%]="(user?.completed_tasks / user?.total_tasks) * 100"></div>
                                    </div>
                                    <p class="card-text txt-md ">{{user?.completed_tasks}}/{{user?.total_tasks}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card h78" *ngIf="!loading && user">
                            <div class="card-body">
                                <h5 class="card-title">Topics completed</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="progress">
                                        <div class="progress-bar" 
                                             role="progressbar" 
                                             [attr.aria-valuenow]="user?.completed_topics" 
                                             aria-valuemin="0" 
                                             [attr.aria-valuemax]="user?.total_topics" 
                                             [style.width.%]="(user?.completed_topics / user?.total_topics) * 100"></div>
                                    </div>
                                    <p class="card-text txt-md ">{{user?.completed_topics}}/{{user?.total_topics}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card h78">
                            <div class="card-body">
                                <h5 class="card-title">Corrections</h5>
                                <p class="card-text txt-md ">13</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
