textarea {
    resize: vertical;
    width: 600px !important;
    height: 100px !important;
}

@media (max-width: 575.98px) {
    textarea {
        resize: vertical;
        width: 250px !important;
        height: auto !important;
    }
    .btn {
        font-size: 12px;
    }
    .btn-secondary {
        background-color: var(--bs-primary-100);
        border: 1px solid var(--bs-primary-200);
        padding: 7.5px 10px !important;
        color: var(--bs-primary-600);
    }
}