<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-5">
        <a class="navbar-brand logo" routerLink="/"> </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="navbar-collapse collapse mt-xs-24" id="navbarSupportedContent">
            <div class="float-start d-inline-flex">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" routerLink="/topics">Lessons</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/">Leaderboard</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/review">Review</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/community">Community</a></li>
                </ul>
            </div>
            <div class="float-end d-inline-flex ms-auto">
                <div class="language d-none d-sm-none d-lg-block d-xl-block ">
                    <a [routerLink]="" (click)="switchLang('en')" class="ps-2"><img src="../../../assets/image/flag/en.png" alt="England"></a>
                    <a [routerLink]="" (click)="switchLang('icl')" class="ps-2"><img src="../../../assets/image/flag/icl.png" alt="Iceland"></a>
                </div>
                <div class="notification ps-2 d-none d-sm-block"><img src="../../../assets/image/icon/notif.svg" alt="Iceland"></div>
                <div class="profile-img ps-2">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../../../assets/image/avatar/profile-avatar.jpg" alt="Iceland">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="dropdownMenu2">
                            <li><a class="dropdown-item" type="button" routerLink="/profile">Update profile</a></li>
                            <li><a class="dropdown-item" type="button" [swal]="{ title: 'Are you sure?',text:'You won\'t be able to revert this!',icon: 'warning',confirmButtonText:'Delete',buttonsStyling:true, showCancelButton: true }" (confirm)="delete($event)">Delete</a></li>
                            <li><a class="dropdown-item" type="button" (click)="logOUt()">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="language d-none mt-auto">
                <a [routerLink]="" (click)="switchLang('en')" class="ps-2"><img src="../../../assets/image/flag/en.png" alt="England"></a>
                <a [routerLink]="" (click)="switchLang('icl')" class="ps-2"><img src="../../../assets/image/flag/icl.png" alt="Iceland"></a>
            </div>
        </div>

    </div>
</nav>