<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-5">
        <a class="navbar-brand logo" routerLink="/topics"> </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="navbar-collapse collapse mt-xs-24" id="navbarSupportedContent">
            <div class="float-start d-inline-flex">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" routerLink="/topics">{{'header.lessons' | translate}}</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/">{{'header.leaderBoard' | translate}}</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/review">{{'header.review' | translate}}</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/community">{{'header.community' | translate}}</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/references">References</a></li>
                </ul>
            </div>
            <div class="float-end d-inline-flex ms-auto">
                <div class="dropdown language d-none d-sm-none d-lg-block d-xl-block">
                    <button class="btn dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <img id="selectedFlag" src="../../../assets/image/flag/en.png" alt="England">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                        <li><button class="dropdown-item" (click)="switchLang('en')"><img src="../../../assets/image/flag/en.png" alt="England"> English</button></li>
                        <li><button class="dropdown-item" (click)="switchLang('icl')"><img src="../../../assets/image/flag/icl.png" alt="Iceland"> Icelandic</button></li>
                    </ul>
                </div>
                
                <div class="profile-img ps-2">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                            <img [src]="profilePicture" alt="Iceland"style="width: 40px; height: 40px;">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="dropdownMenu2">
                            <li><a class="dropdown-item" type="button" routerLink="/profile">{{'menu.updateProfile' | translate}}</a></li>
                            <li><a class="dropdown-item" type="button" [swal]="{ title: 'Are you sure?',text:'You are about to deactivate temporarely your account',icon: 'warning',confirmButtonText:'Deactivate',buttonsStyling:true, showCancelButton: true }" (confirm)="delete()">{{'menu.deactivate' | translate}}</a></li>
                            <li><a class="dropdown-item" type="button" (click)="logOut()">{{'buttons.logOut' | translate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</nav>