.recording i {
    color: var(--bs-success-600);
}

.recording i:hover {
    color: var(--bs-success-600);
}

.lessons .instruction .btn-default.recording {
    background-color: var(--bs-success-200);
}

.playing i,
i:hover {
    color: var(--bs-danger-600);
}

.lessons .instruction .btn-default.playing {
    background-color: var(--bs-danger-200);
}

.modal-dialog {
    position: fixed;
    top: auto;
    right: 200px;
    left: auto;
    bottom: 20px;
}
h2,h1,h3 {text-align: center;}