<div class="d-flex  sign-in-body">
    <div class="form-signin">
        <div class="mb-5 text-center">
            <img src="../../../assets/image/logoIcl.png" style="width: 250px;">
        </div>
        <div class="pb-3">
    
            <label>{{'deactivateAccount.deactivationMessage1' | translate}}</label>
            <div class="mb-2">
                <p>{{'deactivateAccount.deactivationMessage2' | translate}}</p>
                <label>{{'deactivateAccount.deactivationMessage3' | translate}}</label>
                <p>{{'deactivateAccount.activateAccountButton1' | translate}} <a routerLink="/activate-account">{{'deactivateAccount.activateAccountButton2' | translate}} </a>{{'deactivateAccount.activateAccountButton3' | translate}}</p>
            </div>
         
        </div>
        <div class="text-center">
            <div>
                <a [routerLink]="" (click)="switchLang( 'en')"><img src="../../../assets/image/flag/en.png" alt="England" class="pe-2"></a>
                <a [routerLink]="" (click)="switchLang( 'icl')"><img src="../../../assets/image/flag/icl.png" alt="Iceland"></a>
            </div>
            <hr>
            <p class="text-muted text-center">CAPTinI &copy; 2022</p>
        </div>
    </div>
    </div>