<div class="form-signin ">
    <div class="mb-5 text-center">
        <img src="../../../assets/image/logoIcl.png" style="width: 250px;">
    </div>
    <div class="pb-3">
        <label>{{'activateAccount.activationMessage1' | translate}}</label>
    </div>
   
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage" data-bs-dismiss="alert">
        {{'activateAccount.emailNotFound' | translate}}
        <button type="button" class="btn close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successMessage" data-bs-dismiss="alert">
        {{'activateAccount.successEmail' | translate}}
        <button type="button" class="btn close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="activateAccountForm" (ngSubmit)= "activateAccount()">
        <div>
            <label for="exampleFormControlInput1" class="form-label">{{'user.email' | translate}}</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{'user.email' | translate}}" formControlName="email">
        </div>

        <div class="mb-3 text-center">
            <span>{{ 'resetPassword.backToSignin' | translate }}<a routerLink="/login">{{ 'register.singIn' | translate }}</a></span>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" > {{'activateAccount.activateAccountButton' | translate}}</button>
    </form>
    <div class="text-center">
        <div>
            <a [routerLink]="" (click)="switchLang( 'en')"><img src="../../../assets/image/flag/en.png" alt="England" class="pe-2"></a>
            <a [routerLink]="" (click)="switchLang( 'icl')"><img src="../../../assets/image/flag/icl.png" alt="Iceland"></a>
        </div>
        <hr>
        <p class=" text-muted text-center">CAPTinI &copy; 2024</p>
    </div>
</div>